<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        Niel Roos
      </h1>
      <h2 class="has-text-centered">Full Stack JS dev from Cape Town</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered has-text-weight-bold">
        Email: <a href="mailto:nielroos@gmail.com" target="_blank">nielroos@gmail.com</a><br/>
        LinkedIn: <a href="https://linkedin.com/in/nielroos/" target="_blank">https://www.linkedin.com/in/nielroos/</a><br/>
        Twitter: <a href="https://twitter.com/niel_roos" target="_blank">https://twitter.com/niel_roos</a><br/>
        Github: <a href="https://github.com/r00ster" target="_blank">https://github.com/r00ster</a>
      </div>
    </div>
  </div>
</section>
