<section class="hero is-primary ">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div *ngIf="loading$" class="lds-dual-ring"></div>
      <i *ngIf="currentIcon$ !== ''" class="{{ currentIcon$ }} is-size-1 current-temp-icon" title="{{ currentSummary$ }}"></i>
      <h1 *ngIf="capeTownWeatherCurrently$ !== null" class="title">
        The current weather in Cape Town is: {{ capeTownWeatherCurrently$?.toFixed() }}{{ unitSymbol$ }}
      </h1>
      <h2 class="has-text-danger has-text-centered has-text-weight-bold"
          *ngIf="above25$ && !apiFailing$">** Warning: The current temperature is above 25{{ unitSymbol$ }} **</h2>
      <h2 class="has-text-danger has-text-centered has-text-weight-bold"
          *ngIf="below15$ && !apiFailing$">** Warning: The current temperature is below 15{{ unitSymbol$ }} **</h2>
      <h2 class="has-text-danger has-text-centered has-text-weight-bold"
          *ngIf="apiFailing$">** API is failing **<br>
        <button class="button" [disabled]="speedingUpRetries$" (click)="speedUpRetry()">Speed up retry?</button></h2>
      <span *ngIf="speedingUpRetries$">Decreasing retry interval...</span>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <h2>Selected unit is:</h2>
        <div class="buttons has-addons is-centered">
        <span (click)="updateDegrees('Celsius')" class="button"
              [class.is-primary]="selectedUnit$ === 'Celsius'">Celsius</span>
          <span (click)="updateDegrees('Fahrenheit')" class="button"
                [class.is-primary]="selectedUnit$ === 'Fahrenheit'">Fahrenheit</span>
        </div>
        <table *ngIf="capeTownDailyWeather$ !== []" class="table temp-table">
          <thead>
          <tr>
            <th><abbr title="Icon"></abbr></th>
            <th><abbr title="Date and Time">Date and Time</abbr></th>
            <th><abbr title="Min Temperature">Min Temp</abbr></th>
            <th><abbr title="Max Temperature">Max Temp</abbr></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let day of capeTownDailyWeather$">
            <td><i class="{{ getIcon(day['icon']) }}" title="{{ day['summary'] }}"></i></td>
            <td>{{ day['time'] }}</td>
            <td>{{ day['temperatureMin'].toFixed() }}{{ unitSymbol$ }}</td>
            <td>{{ day['temperatureMax'].toFixed() }}{{ unitSymbol$ }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
